.VirtualBox/
.bash_history
AppData/
Contacts/
Desktop/
Documents/6_22_2016_Query.sql
Documents/Add-in Express/
Documents/Archive SVN Checkout/
Documents/BU Audit - User Info.xlsx
Documents/BU Audit.sql
Documents/BlanketCommunicator/
Documents/Code Reviews/
Documents/Copy of AuditDB02_TableDependencies.xlsx
Documents/Copy of Data team Major product release - update for Sox.xlsx
Documents/CustParentChildLoad_Agg.sql
Documents/Data Consultation/
Documents/DataTeam Scripts/
Documents/E146777 Rebate.sql
Documents/EchoIQ/
Documents/GitHub/
Documents/IEbookmark.htm
Documents/Incidents/
Documents/Integration Services Script Task/
Documents/Interview Questions/
Documents/LKQ Barcdoe/
Documents/LifeCycle/
Documents/My Received Files/
Documents/My Tableau Repository/
Documents/New ARAgingSummary.csv
Documents/Operational Scripts/
Documents/Pluralsight/
Documents/Practice SQL 7_7_2016.zip
Documents/Practice SQL/
Documents/Projects/
Documents/QA4 Portal.txt
Documents/Rebates/
Documents/Replication/
Documents/SQL Server Management Studio/
Documents/SVN Checkout/
Documents/Sample Querys/
Documents/Scripts/
Documents/Snagit/
Documents/VBMoved/
Documents/Visual Studio 2005/
Documents/Visual Studio 2008/
Documents/Visual Studio 2012/
Documents/activitytypes_6_24_2016.sql
Documents/aggregation practic with CP.sql
Documents/audting it time keeping.sql
Documents/bookmarks_8_8_16_Chrome.html
Documents/childparentagg.sql
Documents/costs_warehouses_6_24_2016.sql
Documents/customer parent.sql
Documents/customer to load agg.sql
Documents/debug.log
Documents/delete.sql
Documents/delete2.sql
Documents/desktop.ini
Documents/dissecting parameters.sql
Documents/dynamicSQLtest.sql
Documents/guid to name.sql
Documents/inc0108769.sql
Documents/mvp in rdl.txt
Documents/non granularity practice.sql
Documents/reportmoney_6_24_2016.sql
Documents/rs_procAcctCustomerInvoiceForDailyReport_TMG.sql
Documents/sp with dynamic sql.sql
Documents/temp table practice.sql
Documents/views.sql
Downloads/
Favorites/
Links/
Music/
NTUSER.DAT
NTUSER.DAT{2afa8144-7ee4-11e5-80c5-a4badb276a93}.TM.blf
NTUSER.DAT{2afa8144-7ee4-11e5-80c5-a4badb276a93}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{2afa8144-7ee4-11e5-80c5-a4badb276a93}.TMContainer00000000000000000002.regtrans-ms
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
ntuser.pol
